nav {
   
    /* width:80%; */
    /* height:50px; */
     
}
.header {
    background: rgba(0, 0, 0, 0.2);
    z-index:100000;
    position: fixed;
     top: 0;
     width: 100%;
     height: 70px;   
}
.all {
  padding-left: 20px;;
}
.list {
    list-style-type: none;
    /* background: rgba(0, 0, 0, 0.5); */
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    width:90%;
    margin-top: -32px;
}
.items {
    /* display: flex; */
    float:right;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px 0 10px 24px;
    font-size: 15px;
    font-weight: 800;
    /* text-transform: uppercase; */
    color: white;
  white-space: nowrap;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #fff;
    border: none;
    font-size: 18px;
    background: transparent;
}


@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
        margin-top:50px;
        background-color: black;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        background-color: burlywood;
    }
    .btn {
        display: block;
    }
    .items.table {
        
    }
}
.items.table {
    background: #ffb03b;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap;
  width: 150px;
}